/*** Abstracts ***/

/*** Typography ***/

/*** Colors ***/

/*** Box Shadow ***/

/*** Base ***/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  /* background: #fdfdfd; */
}

.link {
  color: #3861fb;
  font-size: 11px;
  font-weight: 400;
}

.link:hover {
  opacity: 0.85;
}

button,
a {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.ml3 {
  margin-left: 3px;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vaCenter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.vaStart {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.vaEnd {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.haCenter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.haEnd {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.haSpaceBetween {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

* {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.h1 {
  font-size: 32px;
  line-height: 42px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  color: #171924;
}

.h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #171924;
}

.h3 {
  font-size: 18px;
  line-height: 34px;
  font-weight: 700;
  color: #171924;
}

@font-face {
  font-family: 'Icons';
  src: url('../fonts/icons.woff');
  font-style: normal;
  font-weight: normal;
}

[class*='iconFont']:before {
  display: inline-block;
  font-family: 'Icons', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconLeft {
  margin-right: 5px;
}

.iconRight {
  margin-left: 4px;
}

.iconCurrency {
  height: 15px;
  width: 15px;
  border: 1px solid #e4e7eb;
  border-radius: 50%;
}

.iconGasFilled:before {
  content: '\006c';
}

.iconChevronDown:before {
  content: '\004f';
}

.iconCaretDown:before {
  content: '\0048';
}

.iconMoon:before {
  content: '\0079';
}

.iconStar:before {
  content: '\0021';
}

.icon {
  height: 16px;
  width: 16px;
}

.icon-info {
  fill: #a6b0c3;
}

.icon-info02 {
  fill: #a6b0c3;
}

.icon-caret-down,
.icon-code {
  stroke: #171924;
}

.icon-open,
.icon-copy {
  stroke: #808a9d;
}

.iconLeft {
  margin-right: 4px;
}

.iconRight {
  margin-left: 4px;
}

.icon-logo {
  fill: #808a9d;
  height: 23px;
  width: 23px;
  position: relative;
  top: 4px;
}

/*** Layout ***/

.mainHeader {
  background: #fff;
}

.mainHeaderUp {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #eff2f5;
}

.mainHeaderUp .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mainHeaderUp .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainHeaderUp .colEnd .item {
  margin-left: 10px;
}

.mainHeaderUp .iconGasFilled {
  position: relative;
  top: 1px;
  font-size: 11px;
  margin-right: 4px;
}

.mainHeaderUp .iconChevronDown {
  position: relative;
  top: 1px;
  font-size: 8px;
  margin-left: 4px;
}

.mainHeaderUp .statVal .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainHeaderDown {
  border-bottom: 1px solid #eff2f5;
}

.mainHeaderDown .row {
  height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mainHeaderDown .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainHeaderDown .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mainHeaderDown .logo img {
  max-height: 28px;
  width: auto;
}

.mainNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 22px;
}

.mainNavigation__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 20px;
}

.mainNavigation__link {
  padding: 0px 8px 0px 0px;
  color: #171924;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 61px;
}

.mainNavigation__link:hover {
  color: #3861fb;
}

.mainNavigation__submenu {
  display: none;
}

/*** Components ***/

.btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  color: #171924;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  height: 100%;
  line-height: 12px;
  margin: 0px;
  padding: 5px;
  white-space: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 27px;
}

.btn_sm {
  padding: 5px;
}

.btn_lg {
  font-size: 14px;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 500;
  height: 33px;
  border-radius: 8px;
}

.btn_md {
  height: 36px;
  padding: 0px 16px;
  border-radius: 8px;
}

.btn_outline {
  border: 1px solid #cfd6e4;
  height: 32px;
  padding: 0 10px;
  border-radius: 8px;
}

.btn_link {
  font-size: 11px;
  background-color: #eff2f5;
  color: #171924;
  border-radius: 8px;
  padding: 5px 8px;
  font-weight: 500;
}

.btn_link .icon-search {
  stroke: #171924;
}

.btn_hover:hover {
  background-color: #808a9d !important;
  color: #fff;
}

.btn_hover:hover .icon-link,
.btn_hover:hover .icon-user,
.btn_hover:hover .icon-chat {
  fill: #fff;
}

.btn_hover:hover .icon-code,
.btn_hover:hover .icon-open,
.btn_hover:hover .icon-search,
.btn_hover:hover .icon-caret-down {
  stroke: #fff;
}

.btn_round {
  padding: 8px;
  border-radius: 50%;
}

.btn_primary {
  background: #3861fb;
  color: #fff;
}

.btn_primary .iconFont {
  position: relative;
  top: -1px;
  font-size: 12px;
}

.btn_primary:hover,
.btn_primary:focus {
  background: #3156e1 !important;
  color: #fff;
}

.btn .iconMoon {
  font-size: 12px;
}

.btn .iconCaretDown {
  position: relative;
  top: 1px;
  font-size: 8px;
  margin-left: 6px;
}

.btn:hover,
.btn:focus {
  background-color: #f8fafd;
  outline: 0px;
}

.btnWatchlist {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: 1px solid #cfd6e4;
  border-radius: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: 0px;
  font-weight: 600;
  width: auto;
  height: 32px;
  font-size: 12px;
  padding: 0px 8px;
  line-height: 18px;
}

.btnWatchlist:hover .iconFont:before {
  color: #f3ba2e;
}

.btnWatchlist .iconFont {
  font-size: 16px;
  line-height: 100%;
}

.btnWatchlist .iconFont:before {
  color: #a6b1c2;
  cursor: pointer;
  font-size: 0.8em;
}

.statItemInline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 18px;
}

.statTitle {
  font-size: 11px;
  color: #58667e;
  margin-right: 6px;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.statTitle_md {
  font-size: 14px;
}

.statVal {
  font-size: 11px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.statProcent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.statProcent .iconCaretDown {
  margin-right: 5px;
}

.statProcent .iconCaretDown:before {
  font-size: 8px;
}

.statProcent_md {
  font-size: 14px;
  font-weight: 300;
}

.statProcent_danger {
  color: #ea3943;
}

.statProcent_danger .iconCaretDown:before {
  color: #ea3943;
}

.statProcent_success {
  color: #16c784;
}

.statProcent_success .iconCaretDown:before {
  color: #16c784;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.statProcent_bgDanger {
  height: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #ea3943;
  color: #fff;
  font-size: 14px;
  line-height: 100%;
}

.statProcent_bgDanger .iconCaretDown {
  margin-right: 3px;
}

.sliderProgress__label {
  color: #58667e;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.sliderProgress__label span {
  color: #171924;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-weight: 600;
}

.sliderProgress__line {
  width: 100%;
  max-width: 170px;
  height: 6px;
  display: inline-block;
  position: relative;
  background: #eff2f5;
  line-height: 5;
  margin: 0 15px;
  position: relative;
  border-radius: 4px;
}

.sliderProgress__line span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: none;
  border-top-right-radius: none;
  background: #cfd6e4;
}

.sliderProgress__line .icon {
  position: absolute;
  top: 4px;
  fill: #cfd6e4;
  height: 16px;
  width: 16px;
}

.statText {
  color: #171924;
  font-size: 12px;
  font-weight: 500;
  margin: 8px 0;
}

.showMore__content {
  display: none;
}

.showMore_active .showMore__content {
  display: block;
}

.dropdown__btn {
  cursor: pointer;
}

.dropdown__box {
  display: none;
}

.search {
  position: relative;
  margin-left: 8px;
}

.search .icon-search {
  height: 16px;
  width: 16px;
  stroke: #a6b0c2;
}

.search .hidden {
  display: none;
}

.search .search__btn {
  height: 38px;
  background-color: #eff2f5;
  color: #a6b0c3;
  border-radius: 8px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.search .search__btnTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  font-weight: 600;
  font-size: 12px;
  margin-left: 4px;
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.search .search__box.in {
  display: block;
}

.search .search__box {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  width: 400px;
  min-height: 140px;
  max-height: 610px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(128, 138, 157, 0.12),
    0px 8px 32px rgba(128, 138, 157, 0.24);
  box-shadow: 0px 1px 2px rgba(128, 138, 157, 0.12),
    0px 8px 32px rgba(128, 138, 157, 0.24);
}

.search .search__box .icon-search {
  position: absolute;
  left: 15px;
}

.search .search__inputBox {
  padding: 18px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #808a9d;
}

.search .search__input {
  width: 100%;
  padding-left: 22px;
  padding-right: 10px;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  border: none;
}

.search .search__input::-webkit-input-placeholder {
  color: #a6b0c3;
  font-weight: 300;
}

.search .search__input:-ms-input-placeholder {
  color: #a6b0c3;
  font-weight: 300;
}

.search .search__input::-ms-input-placeholder {
  color: #a6b0c3;
  font-weight: 300;
}

.search .search__input::placeholder {
  color: #a6b0c3;
  font-weight: 300;
}

.search .smTitle {
  color: #58667e;
  font-size: 11px;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.search .search__close {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #cfd6e4;
  color: white;
  border-radius: 8px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.search .search__close .icon {
  stroke: #fff;
  height: 12px;
  width: 12px;
}

.search .trending {
  padding: 0px 10px 10px;
}

.search .trending .keyBox {
  display: inline-block;
  height: 16px;
  padding: 0px 6px;
  background-color: #a6b0c3;
  line-height: 16px;
  font-size: 9px;
  margin-right: 4px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.search .trending .img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.search .trending img {
  height: 20px;
  width: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
}

.search .trending .tag {
  background: none;
  color: #808a9d;
  font-size: 12px;
  padding: 0;
  margin-right: 0;
}

.search .trending .itemLink {
  padding: 9px 10px 8px;
  cursor: pointer;
  border-radius: 8px;
  min-height: 36px;
}

.search .trending .itemLink_active,
.search .trending .itemLink:hover {
  background: #f8fafd;
}

.search .trending .statVal {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #171924;
}

.search .trending .statTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  color: #58667e;
}

.search .trending .statTitle .tag {
  margin-left: 4px;
}

.search .trending .statTitle_md {
  font-size: 14px;
}

.search .trending .statTitle b {
  font-size: 14px;
  font-weight: 600;
}

.search__noResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 70px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__noResult .title {
  line-height: 1.5;
  margin: 8px 0px;
  color: #171924;
  font-size: 16px;
  font-weight: 500;
}

.search__noResult .text {
  line-height: 1.5;
  margin: 0px;
  color: #58667e;
  font-size: 14px;
  text-align: center;
}

.search__noResult .searchCirlceIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  color: #808a9d;
  background-color: #eff2f5;
}

.search__noResult .searchCirlceIcon .icon {
  margin: auto;
  height: 24px;
  width: 24px;
  position: relative;
  left: auto;
}

.search__footer {
  margin-top: 11px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 16px;
  background-color: #f8fafd;
  width: 100%;
  -webkit-transform: translate(0px, 3px);
  transform: translate(0px, 3px);
  border-radius: 0px 0px 8px 8px;
}

.search__footer .keyBox {
  height: 18px;
  width: auto;
  padding: 0px 6px;
  background-color: #a6b0c3;
  line-height: 18px;
  font-size: 10px;
  margin-right: 4px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.keyBox {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: #a6b0c3;
  color: #fff;
  line-height: 20px;
  text-align: center;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__link {
  color: #58667e;
  padding-right: 28px;
  position: relative;
  white-space: nowrap;
}

.pagination__link:hover {
  text-decoration: underline;
}

.pagination__link,
.pagination__active {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.pagination__active {
  color: #171924;
}

.pagination__link:after {
  content: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6L15 12L9 18' stroke='%2358667E' strokeWidth='2' stroke-miterlimit='10' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E");
  right: 8px;
  position: absolute;
  top: 0;
}

.price__val {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  margin-right: 16px;
  color: #171924;
  line-height: 100%;
}

.nameHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 16px;
}

.nameHeader img {
  margin-right: 12px;
}

.nameHeader .nameSymbol {
  margin-left: 12px;
  margin-right: 6px;
}

.nameHeader .h1 {
  margin-right: 8px;
}

.nameSymbol {
  background-color: #eff2f5;
  color: #58667e;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-left: 12px;
  margin-right: 6px;
}

.tag {
  background-color: #eff2f5;
  color: #58667e;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  margin-right: 4px;
  min-height: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tag_primary {
  background-color: #808a9d;
  color: #fff;
}

.tag_color {
  background: #e6f0ff;
  color: #3861fb;
}

.tag_round {
  border-radius: 30px;
  padding: 2px 8px;
  font-weight: 500;
}

.tag_dropdown .iconChevronDown {
  position: relative;
  top: 1px;
  font-size: 6px;
  margin-left: 2px;
}

/*** Pages ***/

.page .pagination {
  margin-top: 24px;
}

.pagePancakeSwap .topSummary .mainRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagePancakeSwap .topSummary .nameSection {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36%;
  flex: 0 0 36%;
  padding-top: 5px;
  padding-right: 24px;
  padding-bottom: 8px;
}

.pagePancakeSwap .topSummary .priceSection {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 37%;
  flex: 0 0 37%;
  padding-top: 24px;
  padding-bottom: 20px;
}

.pagePancakeSwap .topSummary .priceSection .statTitle {
  font-size: 12px;
  margin-bottom: 10px;
}

.pagePancakeSwap .topSummary .priceSection .statTitle span {
  font-size: 12px;
  margin-left: 3px;
  color: #808a9d;
}

.pagePancakeSwap .topSummary .priceSection .coinCurrency {
  margin-top: 15px;
  margin-bottom: 14px;
}

.pagePancakeSwap .topSummary .priceSection .coinCurrency .flexRow {
  margin: 1px 0;
}

.pagePancakeSwap .topSummary .priceSection .coinCurrency .statTitle {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #808a9d;
  margin-right: 12px;
}

.pagePancakeSwap .topSummary .priceSection .sliderProgress .tag {
  margin-left: 10px;
}

.pagePancakeSwap .topSummary .buttonSection {
  padding-top: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27%;
  flex: 0 0 27%;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.pagePancakeSwap .topSummary .buttonSection .btn {
  height: 32px;
  padding: 5px 10px;
  margin-left: 4px;
}

.pagePancakeSwap .topSummary .linkSection {
  padding-top: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36%;
  flex: 0 0 36%;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.pagePancakeSwap .topSummary .linkSection .row:first-child {
  margin-top: 0;
}

.pagePancakeSwap .topSummary .linkSection .row {
  margin: 2px 0;
}

.pagePancakeSwap .topSummary .linkSection .item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 3px;
  margin-bottom: 6px;
  margin-left: 0;
}

.pagePancakeSwap .topSummary .linkSection .statTitle {
  margin-bottom: 5px;
}

.pagePancakeSwap .topSummary .linkSection .tag {
  margin-right: 2px;
}

.pagePancakeSwap .topSummary .linkSection .btn a {
  color: #58667e;
  font-weight: 500;
  font-size: 11px;
}

.pagePancakeSwap .topSummary .linkSection .btn a span {
  font-size: 11px;
  font-weight: 500;
  color: #171924;
}

.pagePancakeSwap .topSummary .linkSection .btn .iconBtnStart {
  height: 20px;
  width: auto;
  margin-right: 5px;
}

.pagePancakeSwap .topSummary .linkSection .btn .iconBtnEnd {
  height: 18px;
  width: auto;
  margin-left: 7px;
}

.pagePancakeSwap .topSummary .linkSection .btn .round {
  border-radius: 50%;
}

.pagePancakeSwap .topSummary .statsSection {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64%;
  flex: 0 0 64%;
}

.pagePancakeSwap .topSummary .statsSection .statsContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-top: 1px solid #eff2f5;
  padding-top: 24px;
  padding-bottom: 4px;
}

.pagePancakeSwap .topSummary .statsSection .statTitle {
  font-size: 12px;
}

.pagePancakeSwap .topSummary .statsSection .statsBlock:first-child {
  padding-left: 0;
}

.pagePancakeSwap .topSummary .statsSection .statsBlock {
  grid-column: span 3 / auto;
  min-width: 200px;
  border-right: 1px solid #eff2f5;
  padding-top: 8px;
  padding-left: 24px;
}

.pagePancakeSwap
  .topSummary
  .statsSection
  .statsBlock
  .statsBlockInner:nth-child(2) {
  margin-top: 28px;
}

.pagePancakeSwap .topSummary .statsSection .statsBlockLast {
  padding-top: 10px;
  grid-column: span 3 / auto;
  padding-left: 24px;
}

.pagePancakeSwap
  .topSummary
  .statsSection
  .statsBlockLast
  .statsBlockInner_last {
  margin-top: 35px;
}

.pagePancakeSwap
  .topSummary
  .statsSection
  .statsBlockLast
  .statsBlockInner_last
  .statText {
  margin: 2px 0;
  font-weight: 400;
}

.pagePancakeSwap .topSummary .statsSection .tag {
  margin-left: 4px;
}

.pagePancakeSwap .tabs {
  margin: 5px 0px 24px;
}

.pagePancakeSwap .tabNav {
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #eff2f5;
  border-bottom: 1px solid #eff2f5;
  padding: 14.5px 0px;
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99999;
}

.pagePancakeSwap .tabNav .btn {
  margin-right: 3px;
}

.pagePancakeSwap .tabContent {
  padding: 30px 0;
}

.pagePancakeSwap .tabOverview .col01 {
  max-width: 930px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 24px;
  background-color: #f8fafd;
  border-radius: 16px;
  width: 407px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .h2 {
  margin-bottom: 24px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .flexRow_first {
  margin-bottom: 7px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .rowBorder {
  border-top: 1px solid #eff2f5;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .statTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  color: #58667e;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .statTitle .tag {
  margin-left: 4px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .statTitle_md {
  font-size: 14px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .statTitle b {
  font-size: 14px;
  font-weight: 600;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .statValItem {
  text-align: right;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .statVal {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #171924;
}

.pagePancakeSwap .tabOverview .col02 .sidebarBox .statProcent {
  margin-top: 2px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarStatistics .item {
  margin-bottom: 42px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarStatistics .statProcent_md {
  font-weight: 500;
}

.pagePancakeSwap .tabOverview .col02 .sidebarStatistics .btn {
  height: 40px;
  width: 100%;
  background: #eff2f5;
  font-weight: 600;
}

.pagePancakeSwap .tabOverview .col02 .sidebarStatistics .btn:hover,
.pagePancakeSwap .tabOverview .col02 .sidebarStatistics .btn:focus {
  background: #eeeff1;
}

.pagePancakeSwap .tabOverview .col02 .sidebarTrending {
  margin-top: 20px;
  padding-bottom: 20px !important;
}

.pagePancakeSwap .tabOverview .col02 .sidebarTrending .h3 {
  margin-bottom: 13px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarTrending .statVal {
  margin-bottom: 3px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarTrending .info-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagePancakeSwap .tabOverview .col02 .sidebarTrending .trendingSponsor img {
  height: 24px;
  width: auto;
  background: #fff;
  margin-right: 10px;
}

.pagePancakeSwap
  .tabOverview
  .col02
  .sidebarTrending
  .trendingSponsor
  .itemLink {
  padding: 11px 8px;
}

.pagePancakeSwap
  .tabOverview
  .col02
  .sidebarTrending
  .trendingSponsor
  .itemLink:hover {
  background: #eff2f5;
}

.pagePancakeSwap .tabOverview .col02 .sidebarTrending .btnBox .btn {
  height: 32px;
  margin-bottom: 2px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarTrending .btnBox .statTitle {
  margin-left: -3px;
}

.pagePancakeSwap .tabOverview .col02 .sidebarTrending .btnBox span {
  font-size: 11px;
  font-weight: 300;
  color: #808a9d;
}

/*# sourceMappingURL=main.css.map */
