@import './fonts.css';

@import '@radix-ui/colors/blue.css';

/* frontend */
@import '@radix-ui/colors/jade.css';
@import '@radix-ui/colors/jade-alpha.css';
@import '@radix-ui/colors/jade-dark.css';
@import '@radix-ui/colors/jade-dark-alpha.css';
@import '@radix-ui/colors/teal.css';
@import '@radix-ui/colors/teal-alpha.css';
@import '@radix-ui/colors/teal-dark.css';
@import '@radix-ui/colors/teal-dark-alpha.css';
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-alpha.css';
@import '@radix-ui/colors/cyan-dark.css';
@import '@radix-ui/colors/cyan-dark-alpha.css';

@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';

@import '@radix-ui/colors/plum-alpha.css';
@import '@radix-ui/colors/plum-dark-alpha.css';

@import '@radix-ui/colors/purple-alpha.css';
@import '@radix-ui/colors/purple-dark-alpha.css';

@import '@radix-ui/colors/orange-alpha.css';
@import '@radix-ui/colors/orange-dark-alpho.css';

@import '@radix-ui/colors/amber-alpha.css';
@import '@radix-ui/colors/amber-dark-alpho.css';

input:checked + div {
  @apply border-indigo-500;
}
input:checked + div svg {
  @apply block;
}

.sketch-picker {
  z-index: 10;
}

.parameters::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.strike:before,
.strike:after {
  content: '';
  height: 1px;
  background: var(--theme-ui-colors-borderColor);
  width: 100%;
  /* opacity: 0.75; */
}

.strike:before {
  right: 100%;
  margin-right: 15px;
}

.strike:after {
  left: 100%;
  margin-left: 15px;
}

body {
  overflow: hidden;
  margin: 0px !important;
}

button {
  /* transition: background 0.2s, border-radius 0.2s, height 0.2s, color 0.2s, */
  /*   height 0.2s; */
}

.container {
  width: 100% !important;
  max-width: 1400px !important;
}

.sg-tooltip {
  /* @apply inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300; */
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

/* body { */
/*   overflow-y: auto !important; */
/* } */
