.logo {
  display: inline;
}

.asos-logo {
  width: 49px;
  height: 17px;
}

.superpeer-logo {
  height: 31px;
}

.soundcloud-logo {
  height: 15px;
}

.spotify-logo {
  height: 24px;
}

.upwork-logo {
  height: 24px;
}

.producthunt-logo {
  height: 32px;
}

.github-logo {
  height: 23px;
}

.youtube-logo {
  height: 17px;
}
